<div class="jumbotron text-center "> <h1>Congratulations! <%= @result.creature.name %> has eaten all the edibles we wanted to make.</h1></div>
<div class="container-fluid">
  <div class="item victory">
  <a href="/assets/victory1.gif">
    <img src="/assets/victory1.gif" alt="victory" height="220" >
  </a>
</div>
<div class="item victory">
  <a href="/assets/victory2.gif">
    <img src="/assets/victory2.gif" alt="victory" height="220">
  </a>
  </div>
  <div class="item victory">
  <a href="/assets/victory3.gif">
    <img src="/assets/victory3.gif" alt="victory" height="220" >
  </a>
  </div>
</div>

<div class="table-striped">

<table align="center" style="width:75%" border="2">
  <tr>
    <th class="text-center"><strong>Cause of Death</strong></th>
    <th class="text-center"><strong>Location </strong></th>
    <th class="text-center"><strong>Score </strong></th>
  </tr>
  <tr>
    <td>oo oo oo oo staying alive, staying alive</td>
    <td>Floating or imploding in space</td>
    <td><%= @result.creature.size%></td>
  </tr>
</table>
<br><br>
<center><a class="btn btn-outline-danger"  href="/home" role="button"><h3> Play Again?</h3></a></center>
</div>

<%# link to leaderboard %>
