<br><br>
<div class="table-hover">

  <table align="center" style="width:70%" border="2">
    <tr align= "center">
      <th>Rank</th>
      <th>Username</th>
      <th>Size</th>
      <th>Location of Death </th>
    </tr>

    <% @results.each_with_index do |result, index| %>
    <tr align= "center">
      <td><%= index + 1 %>.</td>
      <td><%= result.user.name %></td>
      <td><%= result.creature.size %></td>
      <td><%= result.location.name %></td>
    </tr>


    <% end %>
  </table>

</div>
