/*
 *= require_self
 *= require_tree .
 */

*{
  font-family: 'Inconsolata', monospace;
}


.container-fluid {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}
.item{
  font-size: 16pt;
}

.display-3 {
  color: #fff;
}

.jumbotron {
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  border-radius: 0px!important;
  /* margin-right: -15px;
  margin-left: -15px; */
  background-color:#CD5C5C!important;
}

.creature {
  background-color: #fff;
  border-radius: 6px;
}

#jumbo-text{
  background-color:rgba(0,0,0,0.5);
  color: white;
  padding: 10px
}
div#other.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
  font-size: 1.15em;
}
.item{
  text-align: center;
  padding: 10px;
}
.jumbotron h1{
  text-align: center;
  font-size: 5em;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
}
 table{
 text-align: center;
  width: 100%;
  border-style: solid;
}

.navbar {
  margin-bottom: 0px!important;
  border-radius: 0px!important;
}

.creature-image {
  width: 50%;
}
